<!-- Main div -->
<div class="main-div">
  <!-- Conversion card -->
  <div class="border-card conversion-card">
    <mat-card>
      <!-- Conversion card header -->
      <mat-card-header>
        <mat-card-title>Conversion</mat-card-title>
      </mat-card-header>
      <!-- Conversion card content -->
      <mat-card-content *ngIf="currencies.length">
        <div class="conversion-card-content" [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Input</mat-label>
            <mat-select
              formControlName="input"
              [errorStateMatcher]="sameCurrencyMatcher"
            >
              <mat-option
                *ngFor="let currency of currencies"
                [value]="currency"
                >{{ currency }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="controlErrorRequired('input')"
              >Input is required</mat-error
            >
            <mat-error *ngIf="formErrorSameCurrenty()"
              >Same currency selected</mat-error
            >
          </mat-form-field>
          <span class="font-size-large">To</span>
          <mat-form-field appearance="outline">
            <mat-label>Output</mat-label>
            <mat-select
              formControlName="output"
              [errorStateMatcher]="sameCurrencyMatcher"
            >
              <mat-option
                *ngFor="let currency of currencies"
                [value]="currency"
                >{{ currency }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="controlErrorRequired('output')"
              >Output is required</mat-error
            >
            <mat-error *ngIf="formErrorSameCurrenty()"
              >Same currency selected</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input
              matInput
              formControlName="amount"
              (keypress)="numbersOnly($event)"
              [errorStateMatcher]="amountMatcher"
            />
            <mat-error *ngIf="this.form.get('amount')?.hasError('required')"
              >Amount is required</mat-error
            >
            <mat-error *ngIf="this.form.get('amount')?.hasError('pattern')"
              >Value is not a valid number</mat-error
            >
          </mat-form-field>
          <button
            class="exchange-button"
            mat-fab
            color="primary"
            type="button"
            (click)="submitForm()"
          >
            <mat-icon>currency_exchange</mat-icon>
          </button>
        </div>
        <div
          class="conversion-card-data-div"
          *ngIf="loadingConversion || conversionResult"
        >
          <mat-spinner *ngIf="loadingConversion"></mat-spinner>
          <div *ngIf="conversionResult">
            <span>
              Conversion result:
              {{ conversionResult.amountToConvert }}
              {{ conversionResult.inputCurrency }} ->
              <b
                >{{ conversionResult.amountConverted }}
                {{ conversionResult.outputCurrency }}</b
              >
            </span>
          </div>
        </div>
      </mat-card-content>
      <!-- Conversion card footer -->
      <mat-card-footer>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loadingCurrencies"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
  <!-- Currencies card -->
  <div class="currencies-card">
    <mat-card>
      <!-- Currencies card header -->
      <mat-card-header>
        <mat-card-title>Currencies</mat-card-title>
      </mat-card-header>
      <!-- Currencies card content -->
      <mat-card-content *ngIf="currencies.length">
        <mat-list>
          <mat-list-item *ngFor="let currency of currencies">
            <mat-icon matListItemIcon>monetization_on</mat-icon>
            <div matListItemTitle>{{ currency }}</div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <!-- Currencies card footer -->
      <mat-card-footer>
        <mat-progress-bar
          *ngIf="loadingCurrencies"
          mode="indeterminate"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
  <!-- Exchange rate pairs card -->
  <div class="border-card exchange-rate-pairs-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Exchange Rate Pairs</mat-card-title>
      </mat-card-header>
      <!-- Exchange rate pairs card content -->
      <mat-card-content *ngIf="exchangeRatePairs.length">
        <mat-list>
          <mat-list-item *ngFor="let exchangeRatePair of exchangeRatePairs">
            <mat-icon matListItemIcon>currency_exchange</mat-icon>
            <div matListItemTitle>
              {{ exchangeRatePair.inputCurrency }}
              ->
              {{ exchangeRatePair.outputCurrency }}
              :
              {{ exchangeRatePair.exchangeRate }}
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <!-- Exchange rate pairs card footer -->
      <mat-card-footer>
        <mat-progress-bar
          *ngIf="loadingExchangeRatePairs"
          mode="indeterminate"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
